.linkedin-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.resume-links a {
    display: block;
    margin-top: 5px;
    color: #0073b1; /* LinkedIn blue */
    text-decoration: none;
}

.resume-links a:hover {
    text-decoration: underline;
}

.social-links {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    color: #0073b1; /* LinkedIn blue */
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.resume-links {
    margin-top: 15px;
}

.resume-links h4 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #ffffff;
}

.resume-links a {
    display: block;
    color: #0073b1;
    text-decoration: none;
    margin-top: 5px;
}

.resume-links a:hover {
    text-decoration: underline;
}